.about_us_slider img {width: max-content !important;margin: 0 auto;}
.about_us_slider p {line-height: 30px;}
@media (max-width: 767px) {
    a.navbar-brand {width: 80%;margin-left: 0px;}
    .navbar span {padding: 0.25rem 0.75rem;}
}



