section.homepage_section {background: #FBFBFB;padding: 70px 0px;}
.homepage_section p {line-height: 30px;}
.post_filters {background: white; border-radius: 10px; box-shadow: 0px 3px 6px #00000024;padding: 20px 30px;}
.post_image img {border-radius: 10px;}
.not_interested_btn {background: white; border-color: #FF3636; border: 1.5px solid #FF3636; color: #ff3636 !important;}
.job_posts {padding: 20px; box-shadow: 0px 2px 6px #0000002b; border-radius: 13px;}
.description_text {display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;}
// .description_text:after {content: "See More";position: absolute;background: white;z-index: 99;top: 24px;right: 20px;color: #1DBF73;font-size: 16px;font-weight: 800;padding-left: 10px;cursor: pointer;}
.transfrom_180 {transform: rotate( 180deg );}
.jobs_pagination .page-link {border: none !important;}
.jobs_pagination .page-link.active {background: #1DBF73;color: white;width: 40px;height: 40px;padding: 0;display: flex;align-items: center;justify-content: center;font-size: 18px;border-radius: 8px;}
.jobs_pagination .page-link {color: #A8A8A8;width: 40px;height: 40px;padding: 0;display: flex;align-items: center;justify-content: center;font-size: 18px;border-radius: 8px;margin-right: 5px;}
.action_buttons button {width: 48%; padding: 7px; font-family: Poppins-Medium; border-radius: 6px;}
.signup_button {border: 1px solid #1DBF73; color: #1DBF73;}
.ratings .active svg path {fill: #FFCF00;}
.ratings svg {width: 15px;height: 15px;margin-right: 5px;}
.ratings span {fill: #FFCF00;}
span.reviews_counts {color: #FFC107;text-decoration: underline;margin-left: 4px;}
.user_rating_img{width: 100%;height: 100px;border-radius: 10px;}
.user_rating_img img{object-fit: cover;width: 100%;height: 100%;border-radius: 10px;}
.user_review_box {padding: 10px;box-shadow: 0px 3px 6px #00000029;border-radius: 8px;}
.user_review_box p {font-size: 12px;}
.user_reviews h6:after {width: 50px;height: 2px;background: #1BBC9B;content: '';position: absolute;left: 0;bottom: -8px;
border-radius: 50px;}
.add_photos.position-relative input {height: 140px; opacity: 0;position: relative;z-index: 999;}
.add_photo_uploader {width: 100%; height: 140px; background: #F6FCFF;border: 1px dashed #1BBC9B;display: flex;align-items: center;justify-content: center;flex-direction: column;padding: 20px;position: absolute;top: 0;border-radius: 5px;}
.add_photo_uploader p {color: #1BBC9B;font-size: 16px;}
.add_photo_uploader svg path {stroke: #1BBC9B;}
.added_image {border-radius: 5px;}
.delete_icon {position: absolute;right: -6px;top: -6px; cursor: pointer;}
.uploaded_image_size .added_image {width: 100%;height: 100%;}
.uploaded_image_size {width: 100%;height: 140px;}
.add_assignment {background: #1dbf73;width: 60px;height: 60px;display: flex;align-items: center;justify-content: center;border-radius: 50px;box-shadow: 0px 3px 6px #0000004f;position: absolute;bottom: 0;right: 0;cursor: pointer; z-index: 9999;}
.add_assignment svg {width: 30px;height: 30px;}